:root {
    --primary-text-color:#757575;;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --accent-background-color:#F5F4FA;
}

body{
    background-color:#FFFFFF ;
    color: var(--primary-text-colorprimary-text-color);
}

header{
    color: var(--title-text-color:#212121;);
}
.logo{
color:var(--accent-color);
}
.logo1{
    color: var(--title-text-color);
}


.navigation {
    var(--title-text-color:#212121;)
    }

.navigation:hover {
color:#2196F3;)
}

.navigation:focus {
    color:#2196F3;)
    }

.navigation:active {
        color:#2196F3;)
        }
        